@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'made_tomy';
    src: url('../src/assets/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf');
}
@media (max-width: 768px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}


body{
    font-family: 'made_tomy';
}
/* To Reset Tailwind Classes in a div and it's children */
.reset-tw,
.reset-tw * {
    all: revert ;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: #2e539d;
  }